version: "3"
services:
  # frontend:
  #   build: ./frontend
  #   tty: true
  #   ports:
  #     - "3000:3000"
  #   volumes:
  #     - ./frontend:/app
  #     - /app/node_modules
  #   environment:
  #     - CHOKIDAR_USEPOLLING=true
  backend:
    build: ./backend
    tty: true
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/code
  relation:
    image: alice_relation:latest
    build: ./backend/AliceBackEnd/Relation
    tty: true
    hostname: relation
    ports:
      - "5010:5010"
  ner:
    build: ./backend/AliceBackEnd/NER
    hostname: ner
    tty: true
    ports:
      - "5020:5020"
  classifier:
    build: ./backend/AliceBackEnd/Classifier
    hostname: classifier
    ports:
      - "5030:5030"
    volumes:
      - ./backend/AliceBackEnd/Classifier:/app
  topics:
    build: ./backend/AliceBackEnd/TopicModelling
    hostname: topics
    tty: true
    ports:
      - "5040:5040"
    volumes:
      - ./backend/AliceBackEnd/TopicModelling:/app
  sentiment:
    build: ./backend/AliceBackEnd/Sentiment
    hostname: sentiment
    ports:
      - "5050:5050"
    volumes:
      - ./backend/AliceBackEnd/Sentiment:/app
  summary:
    build: ./backend/AliceBackEnd/TextSummarizer
    hostname: summary
    ports:
      - "5060:5060"
    volumes:
      - ./backend/AliceBackEnd/TextSummarizer:/app
  wordcloud:
    build: ./backend/AliceBackEnd/WordCloud
    hostname: wordcloud
    ports:
      - "5070:5070"
    volumes:
      - ./backend/AliceBackEnd/WordCloud:/app
  clustering:
    build: ./backend/AliceBackEnd/Clustering
    hostname: clustering
    tty: true
    ports:
      - "5080:5080"
    volumes:
      - ./backend/AliceBackEnd/Clustering:/app
