#network-dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#network-graph-dashboard-container {
  width: 80vw;
  height: 60vh;
  /* border: solid 1px black; */
}

#network-graph-info {
  width: 100%;
  background-color: aqua;
}

.options-container {
  padding: 20px;
}

.reg-container {
  display: flex;
  flex-direction: row;
}

.reg-subcontainer {
  max-width: 100vw;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#fullscreen {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fullscreen-enabled {
  background-color: white;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

.object-details {
  background-color: rgb(255, 255, 255, 0.8);
  position: absolute;
  top: 5px;
  right: 20px;
  padding: 1em;
  box-shadow: 0 0 14px 0 rgba(53, 64, 82, 0.16);
  border-radius: 5px;
}
