.full-screen {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  /* align-items: center; */
  overflow-y: auto;
  overflow-x: hidden;
}

.network-graph-container {
  height: 100%;
  width: 100%;
}

.fullscreen-icon {
  position: absolute;
  right: 15px;
  top: 110px;
  background-color: rgb(255, 255, 255, 0.6);
  z-index: 999;
  cursor: pointer;
}

.fullscreen-enabled {
  position: absolute;
  right: 15px;
  top: 50px;
  background-color: rgb(255, 255, 255, 0.6);
  z-index: 999;
  cursor: pointer;
}

.object-details {
  position: absolute;
  top: 5px;
  right: 15px;
  padding: 1em;
  box-shadow: 0 0 14px 0 rgba(53, 64, 82, 0.16);
  border-radius: 5px;
}
