.network-graph-container {
  /* height: $('networkGraph') .height();
  width: 100%; */
  /* position: absolute; */
  /* right: 0;
  top: 0; */
}

.fullscreen {
  background: '#fff';
}

.fullscreen-enabled.fullscreen {
  background: #f5f5f5;
}

.object-details {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 1em;
  box-shadow: 0 0 14px 0 rgba(53, 64, 82, 0.16);
  border-radius: 5px;
}
