.stats-card {
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
  background-color: #ffffff;
  margin-bottom: 30px;
  word-wrap: break-word;
  height: 100%;
}

.card-content {
  padding: 15px 15px 10px;
}

.stats-icon {
  font-size: 3em;
  min-height: 64px;
}

.stats-icon i {
  font-weight: bold;
  line-height: 59px;
}

.stats {
  font-size: 1.7em;
  text-align: right;
}

.stats p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}
