#settings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

#settings-container h2 {
  font-size: 1.5vw;
  color: red;
}

.settings-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 120px;
}
