.card {
  height: 100%;
  /* max-height: 600px; */
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
  background-color: #ffffff;
}

.card .content {
  overflow: scroll;
  padding: 0px 15px 10px 15px;
}

.card .header {
  padding: 15px 15px 0;
}

.card .category {
  font-size: 14px;
  font-weight: 400;
  color: #9a9a9a;
  margin-bottom: 0px;
}

.card .category i {
  font-size: 16px;
}

.card .title {
  margin: 0;
  color: #333333;
  font-weight: 300;
}

.card .footer {
  padding: 0;
  background-color: transparent;
  line-height: 30px;
}
.card .footer .legend {
  padding: 5px 0;
}

.card .footer div {
  display: inline-block;
}

.card .ct-chart {
  height: '100%';
  margin: 30px 0 30px;
}

.card .table tbody td:first-child,
.card .table thead th:first-child {
  padding-left: 15px;
}
.card .table tbody td:last-child,
.card .table thead th:last-child {
  padding-right: 15px;
}
