.viscard {
  height: 100%;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
  background-color: #ffffff;
}

.viscard-content {
  overflow: scroll;
  padding: 0px 15px 10px 15px;
}

.viscard-header {
  padding: 15px 15px 0;
}

.viscard-category {
  font-size: 14px;
  font-weight: 400;
  color: #9a9a9a;
  margin-bottom: 0px;
}

.viscard-category i {
  font-size: 16px;
}

.viscard-title {
  margin: 0;
  color: #333333;
  font-weight: 300;
}

.viscard-footer {
  padding: 0;
  background-color: transparent;
  line-height: 30px;
}
