html,
body,
#root,
.App {
  height: 100%;
  /* font-family: 'Poppins', sans-serif; */
}

@font-face {
  font-family: 'Nexa';
  font-weight: 300;
  src: local('Nexa'), url(./fonts/Nexa_Light_300.otf) format('opentype');
}

@font-face {
  font-family: 'Nexa';
  font-weight: 600;
  src: local('Nexa'), url(./fonts/Nexa_Bold_600.otf) format('opentype');
}

.alice {
  font-family: 'Nexa';
  font-weight: 600;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.loader-container {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255, 0.5);
  z-index: 99999;
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.main-panel {
  background: rgba(203, 203, 210, 0.15);
  position: relative;
  float: right;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column !important;
}

.sidebar,
.main-panel {
  -webkit-transition-property: top, bottom;
  transition-property: top, bottom;
  -webkit-transition-duration: 0.2s, 0.2s;
  transition-duration: 0.2s, 0.2s;
  -webkit-transition-timing-function: linear, linear;
  transition-timing-function: linear, linear;
  -webkit-overflow-scrolling: touch;
}

/* Changes for small display */
@media (max-width: 991px) {
  .wrapper {
    flex-direction: column;
  }

  .side-bar {
    flex-direction: row;
    width: '100%';
  }

  body {
    position: relative;
  }

  .main-panel {
    width: 100%;
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
    -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    left: 0;
  }
}
