html,
body,
#root,
.App {
  height: 100%;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.loader-container {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255, 0.5);
  z-index: 99999;
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.main-panel {
  background: rgba(203, 203, 210, 0.15);
  position: relative;
  float: right;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  background: rgba(203, 203, 210, 0.15);
  padding: 20px;
  font-weight: 800;
}

.sticky {
  position: sticky;
  top: 0;
}

.sidebar {
  display: flex;
  flex-direction: column !important;
}

.navbar-alice {
  display: flex;
  flex-direction: column;
}

.navbrand-alice {
  margin-right: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
}

#basic-navbar-nav {
  width: 50px;
  align-items: flex-start !important;
  margin-top: 20px;
}

.sidebar,
.main-panel {
  -webkit-transition-property: top, bottom;
  transition-property: top, bottom;
  -webkit-transition-duration: 0.2s, 0.2s;
  transition-duration: 0.2s, 0.2s;
  -webkit-transition-timing-function: linear, linear;
  transition-timing-function: linear, linear;
  -webkit-overflow-scrolling: touch;
}

.nav-item {
  flex: none !important;
}

.drawer-container {
  width: 250px;
  background-color: '#3358f4';
}

.drawer-text {
  color: white;
}

.navbar-drawer {
  display: none;
}

.navbar-drawer-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

/* Changes for small display */
@media (max-width: 991px) {
  .navbar-drawer {
    display: block;
  }

  .navbar-alice {
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99;
  }

  .navbrand-alice {
    padding-bottom: none;
    border-bottom: none;
  }

  .sticky {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .wrapper {
    flex-direction: column;
  }

  .side-bar {
    flex-direction: row;
    width: '100%';
  }

  body {
    position: relative;
  }

  .main-panel {
    width: 100%;
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
    -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    left: 0;
  }
}
